.page {
  /* ограничение по максимальной ширине из макета */
  max-width: 1280px;
  /* для экранов больше 1280px отцентрировали весь контент */
  margin: 0 auto;
  /* Если шрифт из файла не загрузился, использовать Arial или Helvetica, на крайний случай — любой шрифт без засечек в системе пользователя */
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #2A2C2F;
}
