.cover__heading-position {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 560px;
}

@media screen and (max-width: 320px) {
  .cover__heading-position {
    max-width: 270px;
  }
}
