.lead {
  /* max-width: 984px; */
  /* margin: 56px 148px 0 148px; */
  margin: 48px auto 0;
  padding: 0 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 0;
  }
}
